altair==4.2.0
emoji==2.2.0
gensim==4.2.0
google-cloud-translate==2.0.1
ipykernel==6.17.1
keybert==0.7.0
keyphrase-vectorizers==0.0.10
language-tool-python==2.7.1
matplotlib==3.6.2
millify==0.1.1
nltk==3.7
numpy==1.23.5
pandas==1.5.2
pyarrow==10.0.1
git+https://github.com/sakshi1989/pycontractions
sentence-transformers==2.2.2
sentencepiece==0.1.95
spacy==3.4.3
streamlit==1.29.0
streamlit-extras==0.2.4
tokenizers==0.12.1
transformers==4.21.3
wordcloud==1.8.2.2
